.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.home{
  display: flex;
flex-direction: column;
}

.home__content{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  gap: 10px;
}