.card-block {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-block__icon {
  cursor: pointer;
transition: .3s;
}


.cart-block__icon:hover{
  color: green;
}
.card-block__total-price {
}

.cart-block__quantity{
  position: absolute;
  background-color: tomato;
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: white;
  border-radius: 15px;
  right: -10px;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
